# Compiled files
__pycache__/
*/__pycache__
*.py[cod]
*$py.class

# Build
*.egg-info/*

# Tests
.coverage

# Virtual environments
.venv/*

# IDE / Jupyter Notebooks
*ipynb_checkpoints/*
.vscode

# Model outputs
outputs*

# Old data files
*old.csv

# Mac OS
*.DS_Store
